<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script
            src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4">
        </script>
        <title>Logout - Waste2Feed</title>

        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body
        class="flex items-center justify-center bg-[#93AF7C] w-screen h-screen">
        <div class="flex flex-col items-center space-y-4 -translate-y-24">
            <img class="w-36 rounded-full border-[10px] border-[#0B4619]"
                src="/static/tmp.png" />
            <div class="flex flex-col items-center">
                <div class="text-white text-md mb-4">
                    Apakah anda yakin untuk Logout?
                </div>
                <div class="flex flex-row space-x-4 text-center text-lg">
                    <button
                        class="w-32 bg-[#0B4619] hover:bg-[#083715] text-white py-1 rounded-full transition duration-200">IYA</button>
                    <button
                        class="w-32 bg-[#0B4619] hover:bg-[#083715] text-white py-1 rounded-full transition duration-200">TIDAK</button>
                </div>
            </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    </body>
</html>